.card  {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    text-align: center;
    background-color:rgba(244, 233, 205,0.50);
    float: left;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 18px;
    margin-left: 19px;
    margin-bottom: 25px;
    width: 22%;
    height: 190px;
    border: #fdd007 4px solid;
    /* background-image: url("../images/gf.png"); */
}
#background-img {
    width: 372px;
    height: 190px;
}
.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s
}
#heading-para {
margin-bottom: 0px;
margin-top: -35px;
}
.poster {
font-family: 'Merriweather', serif;
text-shadow: 1px 1px #fdd007;
}

@media only screen and (max-width: 600px) {
    .card {
        width: 300px;
    }
    #background-img {
        width: 298px;
        height: 190px;
    }
}



