.card  {
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 90%);
    text-align: center;
    background-color:rgba(244, 233, 205,0.50);
    float: left;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 18px;
    margin-left: 19px;
    margin-bottom: 25px;
    width: 28%;
    height: 190px;
    /* border: #293250 4px solid; */
    /* background-image: url("../images/gf.png"); */
}
#background-img {
    width: 332px;
    height: 190px;
}
#heading-label{
    margin: 0px;
    padding: 0px;
    top: -195px;
    padding-right: 5px;
    padding-left: 5px;
    width: fit-content;
    right: -1px;
    font-size: 15px;
    position: relative;
    font-family: 'Oswald', sans-serif;
    text-shadow: none;
    color: #fdd007 ;
    background: #293250;
}
.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s
}
#heading-para {
margin-bottom: 0px;
margin-top: -65px;
}
.poster {
font-family: 'Merriweather', serif;
text-shadow: 1px 1px #fdd007;
}

@media only screen and (max-width: 600px) {
    .card {
        width: 300px;
    }
    #background-img {
        width: 298px;
        height: 190px;
    }
}



